body {
    background-color: rgb(206, 177, 194);
    padding: 30px;
}

#contenedor_padre {
    background-color: rgb(151, 151, 202);
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#contenedor_hijo_1 {
    background-color: cornsilk;
    
}

#contenedor_hijo_2 {
    background-color: cyan;

}

#contenedor_hijo_3 {
    background-color: pink;

}
.contenedor_hijo {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    width: 40%;
    text-align: center;
    margin: 2px;
}