body {
    padding: 1%;
    background-color: blanchedalmond;
}

#principal {
    display: grid;
    grid-template-areas: "cabecera cabecera cabecera"
                         "seccion seccion aside"
                         "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr  600px 80px ;
    gap: 20px;
}

#cabecera {
    background-color: burlywood;
    padding: 5%;
    grid-area: cabecera;
}

#contenedor_1 {
    background-color: cornsilk;
    padding: 1%;
    grid-area: seccion;
    display: grid;
    grid-template-areas: "item1 item2"
                         "item3 item3";
}

.item_1 {
    background-color: darkslateblue;
    grid-area: item1;
}

.item_2 {
    background-color:darkviolet;
    grid-area: item2;
}

.item_3 {
    background-color: deeppink;
    grid-area: item3;
}
#contenedor_2 {
    background-color: darkgrey;
    padding: 8%;
    grid-area: aside;
}

#pie_pagina {
    background-color:darksalmon;
    padding: 2%;
    grid-area: footer;
}